<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>thechillbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% load staticfiles %}

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" style="padding-top:0px;">
    <div class="jumbotron masthead">
      <div class="container">
	<h1>thechillbar</h1>
	<br>
	<div class="row-fluid">
	  <div class="span3"></div>
	  <div class="span6">
	    <ul class="nav nav-tabs">
	      <li class="active"><a href="#bar-display-tab" data-toggle="tab">Bar Display</a></li>
	      <li><a href="#led-sign-tab" data-toggle="tab">LED Sign</a></li>
	    </ul>
	    <div class="tab-content">
	      <div class="tab-pane active" id="bar-display-tab">	     
		<div class="row-fluid">
		  <div class="span2"></div>
		  <div class="span8">
		    <p><a class="btn btn-primary btn-large btn-block" id="color-wipe-button">Wipe</a></p>
		    <p><a class="btn btn-primary btn-large btn-block" id="rainbow-button">Fade</a></p>
		    <p><a class="btn btn-primary btn-large btn-block" id="rainbow-cycle-button">Fade Cycle</a></p>
		    <p><a class="btn btn-primary btn-large btn-block" id="droplets-button">Droplets</a></p>
		    <p><a class="btn btn-primary btn-large btn-block" id="additive-cycle-button">Additive Cycle</a></p>
		    <p><a class="btn btn-primary btn-large btn-block" id="additive-fade-button">Additive Fade</a></p>
		    <p><a class="btn btn-primary btn-large btn-block" id="random-choice-button">Random Selection</a></p>
		    <p><a class="btn btn-primary btn-large btn-block" id="blackout-button">Blackout</a></p>
		  </div>
		  <div class="span2"></div>
		</div>
	      </div>
	      <div class="tab-pane" id="led-sign-tab" style="text-align : left; text-shadow : none">
		<textarea rows="10" class="field span12" id="message-textarea"></textarea>
		<div class="row-fluid">
		  <div class="span4"></div>
		  <div class="span4"><p><button class="btn btn-success btn-block" id="publish-button">Publish</button></p></div>
		  <div class="span4"><p><button class="btn btn-primary btn-block" id="reset-button">Reset Sign</button></p></div>
		</div>
		<h3>Instructions</h3>
		<div>Type your message into the box and click Publish to sent it to the sign.</div>
		<div>Customize your message by adding tags to change the text color, font, and transitions.</div>
		<h4>Example</h4>
		<pre><code>&lt;red&gt;&lt;7&gt;&lt;speed3&gt;welcome to
&lt;hold&gt;&lt;green&gt;&lt;7shadow&gt;&lt;speed1&gt;&lt;flash&gt;thechillbar&lt;/flash&gt;
&lt;rotate&gt;&lt;amber&gt;&lt;7&gt;&lt;speed3&gt;&lt;\n&gt;check us out at thechillbar.mit.edu</code></pre>
		<br>
		<div class="row-fluid">
		  <div class="span3">
		    <table class="table table-bordered">
		      <tbody>
			<tr>
			  <td><b>Font Tags</b></td>
			</tr>
			<tr>
			  <td>&lt;5&gt;</td>
			</tr>
			<tr>
			  <td>&lt;5bold&gt;</td>
			</tr>
			<tr>
			  <td>&lt;5wide&gt;</td>
			</tr>
			<tr>
			  <td>&lt;5huge&gt;</td>
			</tr>
			<tr>
			  <td>&lt;7&gt;</td>
			</tr>
			<tr>
			  <td>&lt;7bold&gt;</td>
			</tr>
			<tr>
			  <td>&lt;7wide&gt;</td>
			</tr>
			<tr>
			  <td>&lt;7huge&gt;</td>
			</tr>
			<tr>
			  <td>&lt;7shadow&gt;</td>
			</tr>
		      </tbody>
		    </table>
		  </div><!--font tags span3-->
		  
		  <div class="span3">
		    <table class="table table-bordered">
		      <tbody>
			<tr>
			  <td><b>Color Tags</b></td>
			</tr>
			<tr>
			  <td>&lt;autocolor&gt;</td>
			</tr>
			<tr>
			  <td>&lt;red&gt;</td>
			</tr>
			<tr>
			  <td>&lt;dimred&gt;</td>
			</tr>
			<tr>
			  <td>&lt;green&gt;</td>
			</tr>
			<tr>
			  <td>&lt;dimgreen&gt;</td>
			</tr>
			<tr>
			  <td>&lt;yellow&gt;</td>
			</tr>
			<tr>
			  <td>&lt;amber&gt;</td>
			</tr>
			<tr>
			  <td>&lt;orange&gt;</td>
			</tr>
			<tr>
			  <td>&lt;brown&gt;</td>
			</tr>
			<tr>
			  <td>&lt;mixcolor&gt;</td>
			</tr>
			<tr>
			  <td>&lt;rainbow&gt;</td>
			</tr>
			<tr>
			  <td>&lt;patchcolor&gt;</td>
			</tr>
		      </tbody>
		    </table>
		  </div><!--color tags span3-->
		  
		  <div class="span3">
		    <table class="table table-bordered">
		      <tbody>
			<tr>
			  <td><b>Transition Tags</b></td>
			</tr>
			<tr>
			  <td>&lt;hold&gt;</td>
			</tr>
			<tr>
			  <td>&lt;rotate&gt;</td>
			</tr>
		      </tbody>
		    </table>
		  </div><!--transition tags span3-->

		  <div class="span3">
		    <table class="table table-bordered">
		      <tbody>
			<tr>
			  <td><b>Other Tags</b></td>
		        </tr>
		        <tr>
			  <td>&lt;\n&gt; (spacer)</td>
			</tr>
			<tr>
			  <td>&lt;flash&gt; (flash on)</td>
			</tr>
			<tr>
			  <td>&lt;/flash&gt; (flash off)</td>
			</tr>
			<tr>
			  <td>&lt;clock&gt;</td>
			</tr>
			<tr>
			  <td>&lt;speed1&gt; (slow)</td>
			</tr>
			<tr>
			  <td>&lt;speed2&gt;</td>
			</tr>
			<tr>
			  <td>&lt;speed3&gt;</td>
			</tr>
			<tr>
			  <td>&lt;speed4&gt;</td>
			</tr>
			<tr>
			  <td>&lt;speed5&gt; (fast)</td>
			</tr>
		      </tbody>
		    </table>
		  </div><!--other tags span3-->
		</div><!--rowfluid-->
	      </div> <!--led tab-->
	    </div> <!--tab-content-->
	  </div><!--span6-->
	  <div class="span3"></div>
	</div><!--rowfluid-->
      </div><!--containter-->
    </div><!--masthead-->
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/thechillbar.js"></script>

  </body>
</html>
