<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>thechillbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% load staticfiles %}

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar" style="padding-top:0px;">
    <div class="row-fluid">
      <div class="span3 hidden-phone"></div>
      <div class="span6">
	<h1>thechillbar</h1>
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#bar-display-tab" data-toggle="tab">Bar Display</a></li>
	  <li><a href="#led-sign-tab" data-toggle="tab">LED Sign</a></li>
	  <li><a href="#playlist-tab" data-toggle="tab">Playlist</a></li>
	  {% if user.is_authenticated %}
	  <li><a href="#admin-tab" data-toggle="tab">Admin</a></li>
	  {% endif %}
	</ul>
	<div class="tab-content">
	  <div class="tab-pane active" id="bar-display-tab">	     
	    <div class="row-fluid">
	      <div class="span2 hidden-phone"></div>
	      <div class="span8">
		<p><a class="btn btn-large btn-block" id="color-wipe-button">Wipe</a></p>
		<p><a class="btn btn-large btn-block" id="rainbow-button">Fade</a></p>
		<p><a class="btn btn-large btn-block" id="rainbow-cycle-button">Fade Cycle</a></p>
		<p><a class="btn btn-large btn-block" id="droplets-button">Droplets</a></p>
		<p><a class="btn btn-large btn-block" id="additive-cycle-button">Additive Cycle</a></p>
		<p><a class="btn btn-large btn-block" id="additive-fade-button">Additive Fade</a></p>
		<p><a class="btn btn-large btn-block" id="random-choice-button">Random Selection</a></p>
		<p><a class="btn btn-large btn-block" id="blackout-button">Blackout</a></p>
	      </div>
	      <div class="span2 hidden-phone"></div>
	    </div>
	  </div>
	  <div class="tab-pane" id="led-sign-tab">
	    <textarea rows="10" class="field span12" id="message-textarea" placeholder="enter your message here"></textarea>
	    <div class="row-fluid">
	      <div class="span4"></div>
	      <div class="span4"><p><button class="btn btn-large btn-block" id="publish-button">Publish</button></p></div>
	      <div class="span4"><p><button class="btn btn-inverse btn-large btn-block" id="reset-button">Reset Sign</button></p></div>
	    </div>
	  </div> <!--led tab--> 
	  <div class="tab-pane" id="playlist-tab">
	    <form class="form-search">
	      <div class="input-append">
		<input type="text" class="search-query" placeholder="title, album, or artist">
		<button type="submit" class="btn">Search</button>
	      </div>
	    </form>
	    <table class="table">
	      <thead>
		<tr>
		  <th>Title</th>
		  <th>Artist</th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
		<tr>
		  <td>T.G.I.F.</td>
		  <td>Katy Perry</td>
		  <td><button class="btn"><i class="icon-plus-sign"></i> Queue</button></td>
		</tr>
		<tr>
		  <td>Shots</td>
		  <td>LMFAO</td>
		  <td><button class="btn"><i class="icon-plus-sign"></i> Queue</button></td>
		</tr>
	      </tbody>
	    </table>
	  </div><!--plyalist tab-->
	  <div class="tab-pane" id="admin-tab">
	    <table class="table" id="sign-log">
	      <thead>
		<tr>
		  <th>IP</th>
		  <th>Message</th>
		</tr>
	      </thead>
	      <tbody id="sign-log-body">
	      </tbody>
	    </table>  
	  </div><!--admin tab-->
	</div> <!--tab-content-->
      </div><!--span6-->
      <div class="span3 hidden-phone"></div>
    </div><!--rowfluid-->
    
    <!-- Le javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery.tmpl.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/thechillbar.js"></script>
    {% if user.is_authenticated %}
    <script src="assets/js/thechillbaradmin.js"></script>

    <script id="sign-log-row-template" type="text/x-jquery-tmpl">
      <tr>
	<td>${ip}</td>
	<td>${message}</td>
      </tr>
    </script>
    {% endif %}

  </body>
</html>
