<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>thechillbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% load staticfiles %}

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <div class="jumbotron masthead">
      <div class="container">
	<h1>thechillbar</h1>
	<br>
	<div class="row-fluid">
	  <div class="span3"></div>
	  <div class="span6">
	    <div class="tabbable">
	      <ul class="nav nav-tabs">
		<li class="active"><a href="#bar-display-tab" data-toggle="tab">Bar Display</a></li>
		<li><a href="#led-sign-tab" data-toggle="tab">LED Sign</a></li>
	      </ul>
	      <div class="tab-content">
		<div class="tab-pane active" id="bar-display-tab">	     
		  <div class="row-fluid">
		    <div class="span2"></div>
		    <div class="span8">
		      <p><a class="btn btn-primary btn-large btn-block" id="color-wipe-button">Wipe</a></p>
		      <p><a class="btn btn-primary btn-large btn-block" id="rainbow-button">Fade</a></p>
		      <p><a class="btn btn-primary btn-large btn-block" id="rainbow-cycle-button">Fade Cycle</a></p>
		      <p><a class="btn btn-primary btn-large btn-block" id="droplets-button">Droplets</a></p>
		      <p><a class="btn btn-primary btn-large btn-block" id="additive-cycle-button">Additive Cycle</a></p>
		      <p><a class="btn btn-primary btn-large btn-block" id="additive-fade-button">Additive Fade</a></p>
		      <p><a class="btn btn-primary btn-large btn-block" id="random-choice-button">Random Selection</a></p>
		      <p><a class="btn btn-primary btn-large btn-block" id="blackout-button">Blackout</a></p>
		    </div>
		    <div class="span2"></div>
		  </div>
		</div>
		<div class="tab-pane" id="led-sign-tab">
		  <h3>Instructions</h3>
		  <p>Type your message into the box and click Publish to sent it to the sign.</p>
		  <p>Customize your message by adding tags to change the text color, font, and transitions.</p>
		  <h4>Example</h4>
		  <pre><code>&ltred&gt&lt7&gt&ltspeed3&gtwelcome to
		      &lthold&gt&ltgreen&gt&lt7shadow&gt&ltspeed1&gt&ltflash&gtthechillbar&lt/flash&gt
		      &ltrotate&gt&ltamber&gt&lt7&gt&ltspeed3&gt&lt\n&gtcheck us out at thechillbar.mit.edu</code></pre>
		  <p>led sign content</p>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="span3"></div>
      </div>
    </div>
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/bootstrap-tab.js"></script>
    <script src="assets/js/thechillbar.js"></script>

  </body>
</html>
