<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>thechillbar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    {% load staticfiles %}

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
<div class="jumbotron masthead">
  <div class="container">
    <h1>thechillsign</h1>
    </br>
    <textarea rows="10" class="field span6" id="message-textarea"></textarea>
    <div class="row-fluid">
      <div class="span4"></div>
      <div class="span4"><button class="btn btn-success btn-block" id="publish-button">Publish</button></div>
      <div class="span4"><button class="btn btn-primary span4" id="reset-button">Reset Sign</button></div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3"></div>
    <div class="span6">
      <br>
      <h3>Instructions</h3>
      <p>Type your message into the box and click Publish to sent it to the sign.</p>
      <p>Customize your message by adding tags to change the text color, font, and transitions.</p>
      <h4>Example</h4>
      <pre><code>&ltred&gt&lt7&gt&ltspeed3&gtwelcome to
&lthold&gt&ltgreen&gt&lt7shadow&gt&ltspeed1&gt&ltflash&gtthechillbar&lt/flash&gt
&ltrotate&gt&ltamber&gt&lt7&gt&ltspeed3&gt&lt\n&gtcheck us out at thechillbar.mit.edu</code></pre>
      <br>
      <div class="row-fluid">
	<div class="span3">
	  <table class="table table-bordered">
	    <tbody>
	      <tr>
		<td><b>Font Tags</b></td>
	      </tr>
	      <tr>
		<td>&lt5&gt</td>
	      </tr>
	      <tr>
		<td>&lt5bold&gt</td>
	      </tr>
	      <tr>
		<td>&lt5wide&gt</td>
	      </tr>
	      <tr>
		<td>&lt5huge&gt</td>
	      </tr>
	      <tr>
		<td>&lt7&gt</td>
	      </tr>
	      <tr>
		<td>&lt7bold&gt</td>
	      </tr>
	      <tr>
		<td>&lt7wide&gt</td>
	      </tr>
	      <tr>
		<td>&lt7huge&gt</td>
	      </tr>
	      <tr>
		<td>&lt7shadow&gt</td>
	      </tr>
	    </tbody>
	  </table>
	</div>

	<div class="span3">
	  <table class="table table-bordered">
	    <tbody>
	      <tr>
		<td><b>Color Tags</b></td>
	      </tr>
	      <tr>
		<td>&ltautocolor&gt</td>
	      </tr>
	      <tr>
		<td>&ltred&gt</td>
	      </tr>
	      <tr>
		<td>&ltdimred&gt</td>
	      </tr>
	      <tr>
		<td>&ltgreen&gt</td>
	      </tr>
	      <tr>
		<td>&ltdimgreen&gt</td>
	      </tr>
	      <tr>
		<td>&ltyellow&gt</td>
	      </tr>
	      <tr>
		<td>&ltamber&gt</td>
	      </tr>
	      <tr>
		<td>&ltorange&gt</td>
	      </tr>
	      <tr>
		<td>&ltbrown&gt</td>
	      </tr>
	      <tr>
		<td>&ltmixcolor&gt</td>
	      </tr>
	      <tr>
		<td>&ltrainbow&gt</td>
	      </tr>
	      <tr>
		<td>&ltpatchcolor&gt</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
	
	<div class="span3">
	  <table class="table table-bordered">
	    <tbody>
	      <tr>
		<td><b>Transition Tags</b></td>
	      </tr>
	      <tr>
		<td>&lthold&gt</td>
	      </tr>
	      <tr>
		<td>&ltrotate&gt</td>
	      </tr>
	    </tbody>
	  </table>
	</div>

	<div class="span3">
	  <table class="table table-bordered">
	    <tbody>
	      <tr>
		<td><b>Other Tags</b></td>
	      </tr>
	      <tr>
		<td>&lt\n&gt (spacer)</td>
	      </tr>
	      <tr>
		<td>&ltflash&gt (flash on)</td>
	      </tr>
	      <tr>
		<td>&lt/flash&gt (flash off)</td>
	      </tr>
	      <tr>
		<td>&ltclock&gt</td>
	      </tr>
	      <tr>
		<td>&ltspeed1&gt (slow)</td>
	      </tr>
	      <tr>
		<td>&ltspeed2&gt</td>
	      </tr>
	      <tr>
		<td>&ltspeed3&gt</td>
	      </tr>
	      <tr>
		<td>&ltspeed4&gt</td>
	      </tr>
 	      <tr>
		<td>&ltspeed5&gt (fast)</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
      </div>
    </div>
    <div class="span3"></div>
  </div>
</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/google-code-prettify/prettify.js"></script>
    <script src="assets/js/bootstrap-button.js"></script>
    <script src="assets/js/thechillsign.js"></script>
  </body>
</html>
